ul {
  list-style: none;
  padding-left: 0;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 3rem;
    justify-content: center;
    padding: 1rem;
    background-color: #cf2d2d;
  }
  
  nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: large;
  }

  nav a:hover {
    font-style: italic;
  }
  
  nav a.active{
    color: #f5deb3;
    text-decoration: underline;
  }

  .container{
    display: flex;
    display: flex;
    list-style: none;
    gap: 20rem;
    justify-content: center;
    padding: 1rem;
  }

  
  .blogg{
    display: flex;
    display: flex;
    list-style: none;
    gap: 1rem;
    justify-content: center;
    padding: 1rem;
  }

  .gridpattern {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 2rem;
    padding: 1rem;
  }


  .gridpatternA {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 2rem;
    padding: 1rem;
  }

  .box{
    padding: 1rem;
    border-radius: 10px;
    border: 2px solid #a80e0e;
    color: rgb(0, 0, 0);
    text-align: left;
    font-size: 1.2rem;
    transition: transform 0.2s ease;
    list-style: none;
    margin-bottom: 1.5rem;

  }

/*  .box:hover {
    transform: scale(1.05);
  }
*/

  .matematik  { background-color: rgb(255, 243, 215);}

  .fotogrid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: flex-start;
  }

  .fotogrid img{
    height: 500px; /*constant height*/
    width: auto; /*adapts width so image fit height*/
    object-fit: contain; /*shows entire image, no cutoff*/
    display: block;
    border-radius: 8px;
  }

  .gradering{
    background-color: #ff972c;
  }