nav ul {
    display: flex;
    list-style: none;
    gap: 1rem;
    justify-content: center;
    padding: 1rem;
    background-color: #cf2d2d;
  }
  
  nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    color: inherit;
  }

  nav a:hover {
    font-style: italic;
  }
  
  nav a:active{
    color: wheat;
    text-decoration: underline;
  }